<!DOCTYPE HTML>
<html LANG="EN">
<head>
    <title>AngularJS</title>
    <META CHARSET="UTF-8">
    <script src="js/Angular.js" ></script>
    <script src="js/Module.js"></script>
    <script src="js/GenderFilter.js"></script>
</head>
<body ng-app="Myapp">
    <div ng-controller="firstController">
        {{name | uppercase}}

        <br /><br />

        <div>
            <input type="text" placeholder="searchPerson" ng-model="searchText"/>
            <button ng-click="searchthis(searchText)">ClickMe</button>
            {{searchText}}
        </div> <br /><br />

        <div>
            <table style="border: 1px solid black">
                <thead>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                </thead>
                <tr ng-repeat="person in array | orderBy:'name':true | filter:search">
                    <td>{{person.name }}</td>
                    <td>{{person.age | number: 2}}</td>
                    <td>{{person.gender | gender}}</td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>